h1 {
    color: rgb(177, 37, 37);
    font-family: 'CreepyGhost', sans-serif;
}
h2 {
    color: rgb(38, 149, 5);
    font-family: 'CreepyGhost', sans-serif;
}
h3 {
    color: rgb(11, 7, 36);
    font-family: 'CreepyGhost', sans-serif;
}
html {
    background-color: rgba(95, 136, 141, 0.495);
}
p {
    color: rgb(11, 7, 36);
    font-family: 'CreepyGhost', sans-serif;
}
ul {
    color: rgb(11, 7, 36);
    font-family: 'CreepyGhost', sans-serif;
}
ol {
    color: rgb(11, 7, 36);
    font-family: 'CreepyGhost', sans-serif;
}
img {
    width: 500px;
  }
  
@font-face {
	font-family: 'CreepyGhost';
	src: url('../fonts/creepyghost.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/creepyghost.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/creepyghost.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/creepyghost.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/creepyghost.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/creepyghost.svg#creepyghost') format('svg'); /* Chrome < 4, Legacy iOS */
}